[submodule "papers"]
	path = papers
	url = https://github.com/alialkhatib/papers
[submodule "bookVis"]
	path = bookVis
	url = https://github.com/alialkhatib/bookVis
# [submodule "cade-series"]
# 	path = cade-series
# 	url = https://github.com/alialkhatib/cade-series
