-.DS_Store
-*.log
-*.fdb_latexmk
-*.aux
-*.synctex.gz
-*.aux
-*.glo
-*.idx
-*.log
-*.toc
-*.ist
-*.acn
-*.acr
-*.alg
-*.bbl
-*.blg
-*.dvi
-*.glg
-*.gls
-*.ilg
-*.ind
-*.lof
-*.lot
-*.maf
-*.mtc
-*.mtc1
-*.out
-*.synctex.gz
-*.run.xml
-*.fls
-*.nav
-*.snm
_site
.sass-cache
.jekyll-metadata
