<html ng-app="angularjs-starter">
  <head>
    <title>data vis thing</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script src="data.json"></script>
    <script src="books.js"></script>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
    
    <body ng-controller="MainCtrl">
      <div class='container-fluid'>
        <div class='col-md-10 col-lg-10 col-sm-10 col-xs-12'>
          <h1>Time to Read redux</h1>
          <p>You should check out <a target="_blank" href="https://thenounproject.com/">The Noun Project</a>;
          in particular, the book SVG came from
          <a target="_blank" href="https://thenounproject.com/coquet_adrien/collection/book/?oq=book&cidx=0&i=990036">Adrien Coquet's Book Collection</a>.</p>

          <input type='text' placeholder='search here' onkeyup="searchBar()" class='form-control' id='searchBar'>
            <div id='allBooks' ng-repeat="(k,v) in books">
                <div>
                <h3 ng-bind="v.title"></h3>
                <span ng-if="v.author!=''"><i>by {{v.author}}</i></span>
                  <br>
                      <span ng-bind-html="makeBooks(v)"></span>
                      <i>~{{v.hours}} hours</i> or <span ng-bind="localized(v)"></span> words
              </div>
              </div>
      </div>
    </div>
  </body>

</html>