/*.container {
      display: grid | inline-grid;
      font-family: "Source Sans Pro";
      grid-template-columns: 75% 25%;

}*/




blockquote, q{
    margin:0 0 0 40px;
    padding:0 10px;
    border:0;
    outline:0;
    border-left: 5px solid #999999;

    font-size:100%;
    vertical-align:baseline;
    background:transparent;
/*    quotes:none;*/
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

img {
  width: 100%;
}

hr.end-of-page {
  border-top:5px solid black;
}

h1{
  font-weight: bold;
}

nav.text-nowrap {
  overflow-x: auto;
}

nav a {
font-size: 1.5em;
/*color:black;*/
/*text-decoration: none;*/
font-weight: bold;
}


nav a:hover {
/*  color:#3333FF;*/
/*  text-decoration: none;*/
}

a {
/*  color: blue;*/
  text-decoration:none;
}

a:hover{
  text-decoration: underline;
}
#header-link,#header-link a {
  font-weight: bold;
  font-size:3em;
  text-decoration: none;
  color:black;
}


body {
  font-family: sans-serif;
}