<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

     <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
    <title>{{ page.speaker_info | map:"speaker_name" | array_to_sentence_string | default: page.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{site.cadeprefix}}/media/style.css">
    <!-- <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="container-fluid">
      
      <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
          <div class="row">
            <div class="col">
              <div class="header">
                <div class="row">
                  <div class="col">
                    <h1><a class="text-white" href="/{{site.cadeprefix}}">Center for Applied Data Ethics</a></h1>
                  </div>
                  <div class="col-4 text-right">
                    <h5><a class="text-white" href="https://usfca.edu">University of San Francisco</a></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-12">
              {{ content }}
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </body>
</html>