<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="cf-2fa-verify" content="a763b4d502d7860">
        <title> {{ site.name }}{% if page.title %}: {{ page.title }}{% endif %} </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="/content/ali_profile_3k_sq_compressed.jpg" />
        {% if layout.description %}
          <meta name="description" content="{{layout.description}}">
        {% endif %}
        <link rel="icon" type="image/png" href="{{ site.url }}/favicon.png">
        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <meta name="twitter:image:src" content="/content/ali_profile_3k_sq_compressed.jpg">
        {% if page.date %}
        {% assign shorturl = page.url | replace:'index.html','' %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="{{ site.twitter }}">
        <meta name="twitter:creator" content="{{ site.twitter }}">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines }}">
        <meta name="og:type" content="article">
        <meta name="og:title" content="{{ page.title }}">
        <meta name="og:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines }}">
        {% endif %}
    </head>
<body>





<div class="container">
    
    <div class="row">
      <div class="col">
        <header>
        <div id="leader">
          <ol class="breadcrumb">
          <li><h1><a href="{{ site.base }}/">{{ site.name }}</a></h1></li>
        </ol>
        </div>
      </header>
      </div>
    </div>

<div class="row">
  <div class="col">
    {{content}}
  </div>
  <div class="col-lg-3 col-sm-12">
    <nav class="tabbable tabs-right">
        {% for item in site.navigation %}
        <a class="nav nav-tabs"
            {% if item.link == shorturl or (item.link == '/blog/' and page.date) %} class="active"
            {% endif %}
            {% if item.name %} title="{{item.name}}"
            {% endif %}
            href="{{ site.base }}{{ item.link }}">
            {{ item.title }}
        </a>
        {% endfor %}
      </nav>
  </div>
</div>

</div>


</body>



        <link rel="stylesheet" href="{{ site.url }}/media/main.css">
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101296240);</script>
<script async src="//static.getclicky.com/js"></script> -->

</html>
