---
layout: default
title: ""
description: "Ali Alkhatib's personal website"
---



<div class="row no-gutters">
<div class="col-md-6 hidden-sm hidden-xs" style="padding-left: 0px">
  <img alt="Ali Alkhatib profile picture" src="/content/ali_profile_3k_compressed.jpg">
</div>
<div class="col-md-6 hidden-md hidden-lg hidden-xl" style="padding-left:0px; padding-right:0px;">
  <img alt="Ali Alkhatib profile picture" src="/content/ali_profile_3k_sq_compressed.jpg">
</div>
<div class="blurb">
    {{ content }}
</div>
</div>