<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="cf-2fa-verify" content="a763b4d502d7860">
        <title> {{ site.name }}{% if page.title %}: {{ page.title }}{% endif %} </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="/content/ali_profile_3k_sq_compressed.jpg" />
        {% if layout.description %}
          <meta name="description" content="{{layout.description}}">
        {% endif %}
        <link rel="stylesheet" href="{{ site.url }}/media/main.css">
        <link rel="icon" type="image/png" href="{{ site.url }}/favicon.png">
        
        <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <meta name="twitter:image:src" content="/content/ali_profile_3k_sq_compressed.jpg">
        {% if page.date %}
        {% assign shorturl = page.url | replace:'index.html','' %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="{{ site.twitter }}">
        <meta name="twitter:creator" content="{{ site.twitter }}">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines }}">
        <meta name="og:type" content="article">
        <meta name="og:title" content="{{ page.title }}">
        <meta name="og:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines }}">
        {% endif %}
    </head>
<body>
  





  <div class="container{% if page.class %} {{ page.class }}{% endif %}">
    <div class="row">
      <div class="col-12">
        <header>
        <div id="leader">
          <ol class="breadcrumb">
          <li><h1><a href="{{ site.base }}/">{{ site.name }}</a></h1></li>
          {% if page.title!="" %}
          {% assign crumbs = page.url | split: '/' %}
          <li><a href="/{{crumbs[1]}}">{{crumbs[1] | replace:'.html',''}}</a></li>
          {% endif %}
        </div>
      </header>
      </div>
    </div>

<div class="row">
  <div class="col-8 col-sm-12" role="main">
      {{ content }}
  </div>
    {% if page.plain != true %}
    <div class="col-md-4">
      <nav class="tabbable tabs-right">
        {% for item in site.navigation %}
        <a class="nav nav-tabs"
            {% if item.link == shorturl or (item.link == '/blog/' and page.date) %} class="active"
            {% endif %}
            {% if item.name %} title="{{item.name}}"
            {% endif %}
            href="{{ site.base }}{{ item.link }}">
            {{ item.title }}
        </a>
        {% endfor %}
      </nav>
    </div>
    {% endif %}
  </div>
</div>


  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54110533-1');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');
  </script>

</body>
</html>
